<div>
    <div class="card m-1 p-1" style="text-align: center;">
        <div class="p-2" style="flex: 1;">
            <div class="display-4 card-header"> Adicionar Livro </div>
            <div class="card-body">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Título</span>
                        </div>
                        <input type="text" class="form-control form-control-lg" placeholder="título" aria-label="title" 
                                aria-describedby="basic-addon1" (keyup)="onKeyTitle($event)">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">Autor</span>
                        </div>
                        <input type="text" class="form-control form-control-lg" placeholder="autor" aria-label="author" 
                                aria-describedby="basic-addon2" (keyup)="onKeyAuthor($event)">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Sinopse</span>
                        </div>
                        <textarea class="form-control form-control-lg" rows="3" placeholder="sinopse" aria-label="synopsis" 
                                aria-describedby="basic-addon3" (keyup)="onKeySynopsis($event)"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon4">Pequena Descrição</span>
                        </div>
                        <textarea class="form-control form-control-lg" rows="1" placeholder="pequena descrição" aria-label="smallDescription" 
                                aria-describedby="basic-addon4" (keyup)="onKeySmallDescription($event)"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon4">Ano de Publicação</span>
                        </div>
                        <textarea class="form-control form-control-lg" rows="1" placeholder="ano de publicação" aria-label="publicationDate" 
                                aria-describedby="basic-addon4" (keyup)="onKeyPublicationDate($event)"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon5">Quantidade Disponível</span>
                        </div>
                        <input type="text" class="form-control form-control-lg" placeholder="quantidade disponível" aria-label="availableQuantity" 
                                aria-describedby="basic-addon5" (keyup)="onKeyAvailableQuantity($event)">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon6">Image Source</span>
                        </div>
                        <input type="text" class="form-control form-control-lg" placeholder="image source" aria-label="imgSrc" 
                                aria-describedby="basic-addon6" (keyup)="onKeyImgSrc($event)">
                    </div>
                    <div class="p-2">
                        <img [attr.src]="imgSrc">
                    </div>
                    <div *ngIf="showError" class="alert alert-danger mt-2">
                        Dados Incompletos. Digite Novamente.
                    </div>
                    <div *ngIf="bookAlreadyInDB" class="alert alert-danger mt-2">
                        Esse Livro já está Cadastrado !
                    </div>
                    <div *ngIf="success" class="alert alert-success mt-2">
                        Livro Adicionado com Sucesso !
                    </div>
                    <button type="button" class="btn btn-dark" (click)="createBook()">Adicionar</button>
                </form>
            </div>
        </div>
    </div>
</div>